

<div class="container  mt-5 ">
  {{description }} et {{completed}}
  <div class="card">
  <div class="card-header">
    Creation task
  </div>
<div class="card-body" style="background-color: azure;" >


  <form (ngSubmit)="add()">
    <div class="row mb-3">
      <label for="" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="" [(ngModel)]="description" name="description">
      </div>
    </div>


    <!-- <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" [(ngModel)]="completed" name="completed">
          <label class="form-check-label" for="gridCheck1">
           Completed
          </label>
        </div>
      </div>
    </div> -->
    <div class="d-flex justify-content-around">
<button type="submit" class="btn btn-primary">Ajouter</button>
    </div>

  </form>
</div>
</div>
</div>

